* {
    margin: 0;
    padding: 0;


}

#nav {
    list-style: none;
}

li,
a {
    color: white;

    position: relative;
    float: right;
    padding: 8px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.5 ease;

}


a:hover {
    background-color: #fff;
    color: black;
}




.header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)), url(images/mev.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.title {
    position: absolute;
    top: 47%;
    left: 45%;
    transform: translate(-50%, -50%);
}



.title h1 {
    color: black;
    font-size: 70px;
}

.button {
    position: absolute;
    top: 54%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid black;
    padding: 5px 20px;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover {
    background-color: gray;
    color: black;
}

.btom {
    font-weight: bolder;
    text-transform: uppercase;
    float: right;
    padding: 12px 2px 5px 12px;
    border: 1px solid transparent;
    text-decoration: none;
    color: black;


}

.btom:hover {
    border-color: gray;
    color: black;

}


/*----------------------------------------------------------------------------------------------------*/
gallery {
    padding-block: var(--section-padding);
}

.gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-15);
    overflow: hidden;
}

.gallery-item:nth-child(3) {
    grid-area: 1 / 2 / 3 / 3;
}

.gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*----------#HERO-------------------------*/

.hero {
    background-image: url("images/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: overlay;
    display: grid;
    place-items: center;
    min-height: 600px;
    text-align: center;
    padding-top: 125px;
}

.hero-title {
    margin-bottom: 20px;
}

.hero-text {
    color: var(--white);
    font-size: var(--fs-5);
    margin-bottom: 40px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*------------------gg*/


section h1 {
    font-size: 50px;
    font-weight: 200;

    text-shadow: 1px 1px 2px black;
    text-align: center;
    color: white;


}

section h2 {
    margin: 45px 0 10px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    text-align: center;

}

section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 2px;

    text-shadow: 1px 1px 1px black;
    text-align: center;




}

#text {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 2px;

    text-shadow: 1px 1px 1px black;
    text-align: center;
    color: white;

}
